/* 1st July */

body{
    background-color: black;
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}
.frame{
    position: absolute;
    left: 12%;
    top: 10%;
    width: 1070px;
    height: 618px;
    background-color: blue;
    margin: 0px;
}
.sky{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 23, 13);
}
.ring1{
    position: absolute;
    left: 19%;
    top: -35%;
    width: 650px;
    height: 650px;
    border-radius: 100%;
    background-color: rgb(20, 26, 15);

}
.ring2{
    position: absolute;
    left: 5.2%;
    top: 5.2%;
    width: 580px;
    height: 580px;
    border-radius: 100%;
    background-color: rgb(23, 28, 18);

}
.ring3{
    position: absolute;
    left: 6%;
    top: 6%;
    width: 510px;
    height: 510px;
    border-radius: 100%;
    background-color: rgb(29, 34, 22);

}
.ring4{
    position: absolute;
    left: 6.8%;
    top: 6.8%;
    width: 440px;
    height: 440px;
    border-radius: 100%;
    background-color: rgb(36, 41, 27);
}
.ring5{
    position: absolute;
    left: 4%;
    top: 4%;
    width: 405px;
    height: 405px;
    border-radius: 100%;
    background-color: rgb(45, 51, 33);
}
.ring6{
    position: absolute;
    left: 4.3%;
    top: 4.3%;
    width: 370px;
    height: 370px;
    border-radius: 100%;
    background-color: rgb(53, 58, 39);
}
.ring7{
    position: absolute;
    left: 4.5%;
    top: 4.5%;
    width: 335px;
    height: 335px;
    border-radius: 100%;
    background-color: rgb(61, 67, 44);
}
.ring8{
    position: absolute;
    left: 4.5%;
    top: 4.5%;
    width: 305px;
    height: 305px;
    border-radius: 100%;
    background-color: rgb(68, 74, 47);
}
.ring9{
    position: absolute;
    left: 5%;
    top: 4.5%;
    width: 275px;
    height: 275px;
    border-radius: 100%;
    background-color: rgb(76, 82, 50);
}
.ring10{
    position: absolute;
    left: 3.8%;
    top: 3.8%;
    width: 255px;
    height: 255px;
    border-radius: 100%;
    background-color: rgb(86, 90, 56);
}
.ring11{
    position: absolute;
    left: 4%;
    top: 4%;
    width: 235px;
    height: 235px;
    border-radius: 100%;
    background-color: rgb(93, 97, 60);
}
.ring12{
    position: absolute;
    left: 3.2%;
    top: 3.2%;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background-color: rgb(101, 103, 63);
}
.ring13{
    position: absolute;
    left: 4%;
    top: 4%;
    width: 205px;
    height: 205px;
    border-radius: 100%;
    background-color: rgb(109, 112, 69);
}
.ring14{
    position: absolute;
    left: 3.8%;
    top: 3.8%;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    background-color: rgb(117, 119, 78);
}
.ring15{
    position: absolute;
    left: 3.8%;
    top: 3.8%;
    width: 175px;
    height: 175px;
    border-radius: 100%;
    background-color: rgb(125, 128, 83);
}
.ring16{
    position: absolute;
    left: 4.5%;
    top: 4.5%;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: rgb(140, 144, 102);
}
.ring17{
    position: absolute;
    left: 1.7%;
    top: 1.7%;
    width: 154px;
    height: 154px;
    border-radius: 100%;
    background-color: rgb(163, 166, 128);
}
.moon{
    position: absolute;
    left: 1.3%;
    top: 1.3%;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: rgb(249, 249, 245);
}

.rectangle1{
    position: absolute;
    background-color: rgba(230, 232, 207, 1);
    width: 12px;
    height: 24px;
    left: 22%;
    top: 44%;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    z-index: 20;
}
.rectangle2{
    position: absolute;
    background-color: rgba(236, 236, 218, 1);
    width: 34px;
    height: 16px;
    left: 15%;
    top: 35%;
    border-radius: 10% 10% 10% 10% / 100% 40% 40% 20%;
    z-index: 10;
}
.rectangle11{
    position: absolute;
    background-color: rgb(243, 245, 234);
    width: 40px;
    height: 21px;
    left: 12%;
    top: 33%;
    border-radius: 10% 10% 10% 10% / 100% 40% 40% 20%;
    z-index: 5;
}
.rectangle18{
    position: absolute;
    background-color: rgb(243, 245, 234);
    width: 5px;
    height: 9px;
    left: 18%;
    top: 47%;
    border-radius: 70% 100% 80% 80% / 100% 100% 60% 100%;
    z-index: 20
}
.rectangle19{
    position: absolute;
    background-color: rgb(249, 249, 245);
    width: 2px;
    height: 2px;
    left: 20%;
    top: 49%;
    border-radius: 70% 700% 80% 80% / 100% 100% 60% 100%;
    z-index: 20
}
.rectangle21{
    position: absolute;
    background-color: rgba(230, 232, 207, 1);
    width: 5px;
    height: 9px;
    left: 22%;
    top: 69%;
    border-radius: 70% 70% 80% 100% / 100% 100% 60% 100%;
    transform: skew(40deg);
    z-index: 20
}
.rectangle20{
    position: absolute;
    background-color: rgba(236, 236, 218, 1);
    width: 3px;
    height: 3px;
    left: 18%;
    top: 51%;
    border-radius: 70% 700% 80% 80% / 100% 100% 60% 100%;
    z-index: 20
}
.rectangle3{
    position: absolute;
    background-color: rgba(230, 232, 207, 1);
    width: 6px;
    height: 6px;
    left: 23%;
    top: 40%;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    z-index: 20;
}
.rectangle4{
    position: absolute;
    background-color: rgba(230, 232, 207, 1);
    width: 2px;
    height: 6px;
    left: 25%;
    top: 37%;
    border-radius: 10% 10% 10% 10% / 10% 10% 40% 40%;
    z-index: 20;
}
.rectangle5{
    position: absolute;
    background-color: rgba(236, 236, 218, 1);
    width: 20px;
    height: 8px;
    left: 21%;
    top: 45%;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    z-index: 10;
}
.rectangle6{
    position: absolute;
    background-color: rgba(236, 236, 218, 1);
    width: 22px;
    height: 8px;
    left: 23%;
    top: 48%;
    border-radius: 40% 40% 40% 40% / 40% 40% 40% 40%;
    z-index: 10;
}
.rectangle7{
    position: absolute;
    background-color: rgba(236, 236, 218, 1);
    width: 5px;
    height: 5px;
    left: 32%;
    top: 47%;
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
    z-index: 10;
}
.rectangle8{
    position: absolute;
    background-color: rgba(230, 232, 207, 1);
    width: 4px;
    height: 7px;
    left: 28%;
    top: 56%;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    z-index: 20;
}
.rectangle9{
    position: absolute;
    background-color: rgba(230, 232, 207, 1);
    width: 4px;
    height: 7px;
    left: 23%;
    top: 59%;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    z-index: 20;
}
.rectangle10{
    position: absolute;
    background-color: rgba(236, 236, 218, 1);
    width: 40px;
    height: 26px;
    left: 7%;
    top: 50%;
    border-radius: 10% 10% 10% 10% / 40% 40% 40% 100%;
    z-index: 10;
}
.rectangle12{
    position: absolute;
    background-color: rgba(236, 236, 218, 1);
    width: 2px;
    height: 2px;
    left: 25%;
    top: 42%;
    border-radius: 10% 10% 10% 10% / 100% 40% 40% 20%;
    z-index: 500;
}
.rectangle13{
    position: absolute;
    background-color: rgb(243, 245, 234);
    width: 40px;
    height: 21px;
    left: 12%;
    top: 33%;
    border-radius: 10% 10% 10% 10% / 100% 40% 40% 20%;
    z-index: 5;
}
.rectangle14{
    position: absolute;
    background-color: rgb(233, 236, 216);
    width: 45px;
    height: 45px;
    left: 15.5%;
    top: 64%;
    border-radius: 10% 10% 10% 100% / 100% 100% 60% 100%;
}
.rectangle15{
    position: absolute;
    background-color: rgb(233, 236, 216);
    width: 45px;
    height: 70px;
    left: 6%;
    top: 50%;
    border-radius: 100%;
    transform: skew(30deg);
    z-index: 3;
}
.rectangle23{
    position: absolute;
    background-color: rgb(233, 236, 216);
    width: 50px;
    height: 70px;
    left: 5.4%;
    top: 4.4%;
    border-radius: 100%;
    transform: skew(-27deg);
    z-index: 3;
}
.rectangle20{
    position: absolute;
    background-color: rgb(233, 236, 216);
    width: 20px;
    height: 50px;
    left: 0.1%;
    top: 35%;
    border-radius: 100%;
    transform: skew(1deg);
    z-index: 3;
}
.rectangle16{
    position: absolute;
    background-color: rgb(230, 232, 207);
    width: 10px;
    height: 18px;
    left: 14.5%;
    top: 57%;
    border-radius: 40% 700% 80% 100% / 100% 100% 60% 100%;
    z-index: 20
}
.rectangle17{
    position: absolute;
    background-color: rgb(230, 232, 207);
    width: 6px;
    height: 2px;
    left: 20%;
    top: 60%;
    border-radius: 40% 700% 80% 100% / 100% 100% 60% 100%;
    z-index: 20
}
.rectangle22{
    position: absolute;
    background-color: rgb(230, 232, 207);
    width: 6px;
    height: 5px;
    left: 18%;
    top: 64%;
    border-radius: 40% 700% 80% 100% / 100% 100% 60% 100%;
    z-index: 20
}
.rectangle24{
    position: absolute;
    background-color: rgb(249, 249, 245);
    width: 7px;
    height: 15px;
    left: 5%;
    top: 35%;
    border-radius: 40% 40% 40% 100%;
    transform: skew(-20deg);
    z-index: 5;
}
.rectangle25{
    position: absolute;
    background-color: rgb(243, 245, 234);
    width: 3px;
    height: 5px;
    left: 7.5%;
    top: 37%;
    border-radius: 70% 60% 100% 90% / 100% 40% 60% 70%;
    z-index: 5;
}
.rectangle26{
    position: absolute;
    background-color: rgb(249, 249, 245);
    width: 40px;
    height: 23px;
    left: 25%;
    top: 75%;
    border-radius: 70% 100% 80% 80% / 100% 100% 60% 100%;
    z-index: 20
}
.rectangle27{
    position: absolute;
    background-color: rgb(249, 249, 245);
    width: 7px;
    height: 14px;
    left: 34%;
    top: 70%;
    border-radius: 50% 10% 100% 100% / 50% 10% 60% 100%;
    transform: skew(-40deg);
    z-index: 20
}
.rectangle28{
    position: absolute;
    background-color: rgb(249, 249, 245);
    width: 7px;
    height: 14px;
    left: 38%;
    top: 74%;
    border-radius: 50% 10% 100% 100% / 50% 10% 60% 100%;
    transform: skew(-48deg);
    z-index: 20
}
/* 29 is the top part */
.rectangle29{
    position: absolute;
    background-color: rgb(234, 236, 218);
    width: 80px;
    height: 40px;
    left: 23%;
    top: 0%;
    border-radius: 100%;
    z-index: 5;
}
.rectangle30{
    position: absolute;
    background-color: rgb(249, 249, 245);
    width: 30px;
    height: 22px;
    border-radius: 100% 50% 60% 60%;
    left: 13%;
    top: 15%;

    z-index: 5;
}
/* 31 is the top right */
.rectangle31{
    position: absolute;
    background-color: rgb(234, 236, 218);
    width: 80px;
    height: 40px;
    left: 53%;
    top: 16%;
    border-radius: 100%;
    transform: skew(30deg);
    transform: rotate(56deg);
    z-index: 5;
}
.rectangle32{
    position: absolute;
    background-color:rgb(249, 249, 245);
    left: 52%;
    top: 6%;
    width: 20px;
    height: 7px;
    transform: rotate(40deg);
    border-radius: 100% 50% 50% 100%;
    z-index: 20
}
.rectangle33{
    position: absolute;
    background-color:rgb(249, 249, 245);
    left: 61%;
    top: 14%;
    width: 20px;
    height: 5px;
    transform: rotate(32deg);
    border-radius: 80% 90% 70% 60%;
    z-index: 20
}
/* 34 is the right part */
.rectangle34{
    position: absolute;
    background-color: rgb(234, 236, 218);
    width: 80px;
    height: 40px;
    left: 59%;
    top: 37%;
    border-radius: 100%;
    transform: skew(30deg);
    transform: rotate(90deg);
    z-index: 5;
}
/* 39 is the bottom right part */
.rectangle39{
    position: absolute;
    background-color: rgb(234, 236, 218);
    width: 80px;
    height: 40px;
    left: 51%;
    top: 60%;
    border-radius: 100%;
    transform: skew(30deg);
    transform: rotate(130deg);
    z-index: 5;
}
.rectangle40{
    position: absolute;
    background-color: rgb(241, 242, 223);
    width: 25px;
    height: 9px;
    left: 30%;
    top: 40%;
    border-radius: 90% 70% 70% 100%;
    transform: rotate(30deg);
    z-index: 5;
}
.rectangle41{
    position: absolute;
    background-color: rgb(241, 242, 223);
    width: 15px;
    height: 5px;
    left: 40.5%;
    top: 46%;
    border-radius: 90% 70% 70% 100%;
    transform: rotate(60deg);
    z-index: 5;
}
/* 42 is the bottom part */
.rectangle42{
    position: absolute;
    background-color: rgb(234, 236, 217);
    width: 80px;
    height: 30px;
    left: 23%;
    top: 79%;
    border-radius: 100%;
    transform: skew(30deg) rotate(-6deg);
    z-index: 5;
}
.rectangle43{
    position: absolute;
    background-color: rgb(240, 235, 221);
    width: 25px;
    height: 20px;
    left: 40%;
    top: 32%;
    border-radius: 100% 60% 70% 90%;
    transform: skew(10deg);
    z-index: 4;
}
.rectangle44{
    position: absolute;
    background-color: rgb(240, 235, 221);
    width: 35px;
    height: 10px;
    left: 50%;
    top: 40%;
    border-radius: 60% 70% 80% 90%;
    transform: skew(10deg) rotate(35deg);
    z-index: 4;
}
.rectangle45{
    position: absolute;
    background-color: rgb(243, 245, 234);
    width: 38px;
    height: 13px;
    left: 49%;
    top: 39%;
    border-radius: 60% 70% 80% 90%;
    transform: skew(10deg) rotate(35deg);
    z-index: 3;
}
.rectangle46{
    position: absolute;
    background-color: rgb(240, 235, 221);
    width: 18px;
    height: 10px;
    left: 70%;
    top: 42%;
    border-radius: 60% 70% 80% 90%;
    transform: skew(-10deg) rotate(-68deg);
    z-index: 7;
}
.rectangle47{
    position: absolute;
    background-color: rgb(243, 245, 234);
    width: 19px;
    height: 11px;
    left: 70%;
    top: 42%;
    border-radius: 60% 70% 80% 90%;
    transform: skew(-10deg) rotate(-68deg);
    z-index: 6;
}
.rectangle48{
    position: absolute;
    background-color: rgb(249, 249, 245);
    width: 15px;
    height: 10px;
    left: 67%;
    top: 37%;
    border-radius: 60% 70% 80% 90%;
    transform: skew(-10deg) rotate(-68deg);
    z-index: 5;
}
.rectangle49{
    position: absolute;
    background-color: rgb(234, 236, 217);
    width: 26px;
    height: 18px;
    left: 52.5%;
    top: 25.5%;
    border-radius: 100% 100% 80% 90%;
    transform: skew(-10deg) rotate(39deg);
    z-index: 5;
}
.rectangle50{
    position: absolute;
    background-color: rgb(243, 245, 234);
    width: 2px;
    height: 3px;
    left: 69.5%;
    top: 38.2%;
    border-radius: 100% 100% 80% 90%;
    transform: skew(-10deg) rotate(39deg);
    z-index: 20;
}
.rectangle51{
    position: absolute;
    background-color: rgb(243, 245, 234);
    width: 2px;
    height: 3px;
    left: 72.3%;
    top: 39.5%;
    border-radius: 40% 90% 80% 90%;
    transform: skew(-10deg) rotate(39deg);
    z-index: 20;
}
.rectangle52{
    position: absolute;
    background-color: rgb(243, 245, 233);
    width: 20px;
    height: 15px;
    left: 57%;
    top: 32%;
    transform: rotate(-80deg);
    z-index: 2;
}
.rectangle53{
    position: absolute;
    background-color: rgb(249, 249, 245);
    width: 14px;
    height: 13px;
    left: 77%;
    top: 45%;
    border-radius: 60% 70% 80% 90%;
    transform: skew(-10deg);
    transform: rotate(90deg);
    z-index: 5;
}
.rectangle54{
    position: absolute;
    background-color: rgb(249, 249, 245);
    width: 14px;
    height: 10px;
    left: 74%;
    top: 38%;
    border-radius: 100% 100% 100% 90%;
    transform: skew(-10deg);
    transform: rotate(40deg);
    z-index: 5;
}
.rectangle55{
    position: absolute;
    background-color: rgb(234, 236, 220);
    height: 20px;
    width: 20px;
    left: 39%;
    top: 25%;
    border-radius: 40% 40% 40% 70%;
    z-index: 2
}
.rectangle56{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 34px;
    width: 16px;
    left: 39%;
    top: 65%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(-40deg);
    z-index: 2
}
.rectangle57{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 34px;
    width: 16px;
    left: 28%;
    top: 65%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(45deg);
    z-index: 5
}
.rectangle58{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 34px;
    width: 16px;
    left: 15%;
    top: 70%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(-45deg);
    z-index: 5
}
.rectangle59{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 34px;
    width: 16px;
    left: 20%;
    top: 65%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(80deg);
    z-index: 5
}
.rectangle60{
    position: absolute;
    background-color: rgb(249, 249, 245);
    height: 15px;
    width: 10px;
    left: 49%;
    top: 40%;
    border-radius: 100% 30% 30% 30%;
    z-index: 4;
    transform: rotate(10deg);
}
.rectangle61{
    position: absolute;
    background-color: rgb(236, 241, 222);
    height: 25px;
    width: 25px;
    left: 54%;
    top: 46%;
    border-radius: 100% 60% 70% 70%;
    z-index: 4;
    transform: rotate(90deg);
}
.rectangle62{
    position: absolute;
    background-color: rgb(236, 241, 222);
    height: 25px;
    width: 25px;
    left: 54%;
    top: 46%;
    border-radius: 100% 60% 70% 70%;
    z-index: 4;
    transform: rotate(90deg);
}
.rectangle63{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 15px;
    width: 10px;
    left: 54%;
    top: 43%;
    border-radius: 70% 100% 60% 70%;
    z-index: 3;
}
.rectangle64{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 34px;
    width: 16px;
    left: 46%;
    top: 63%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(-75deg);
    z-index: 5
}
.rectangle65{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 34px;
    width: 16px;
    left: 62%;
    top: 61%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(-125deg);
    z-index: 5
}
.rectangle66{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 30px;
    width: 16px;
    left: 45%;
    top: 75%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(1deg);
    z-index: 5
}
.rectangle67{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 30px;
    width: 16px;
    left: 33%;
    top: 82%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(90deg);
    z-index: 5
}
.rectangle68{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 30px;
    width: 16px;
    left:28%;
    top: 81%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(105deg);
    z-index: 5
}
.rectangle69{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 34px;
    width: 16px;
    left: 72%;
    top: 61%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(-125deg);
    z-index: 5
}
.rectangle70{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 17px;
    width: 8px;
    left: 67%;
    top: 78%;
    border-radius: 60% 60% 80% 70%;
    transform: rotate(-125deg);
    z-index: 5
}
.rectangle71{
    position: absolute;
    background-color: rgb(249, 249, 245);
    height: 11px;
    width: 8px;
    left: 81%;
    top: 54.5%;
    border-radius: 80% 80% 80% 90%;
    z-index: 5
}
.rectangle72{
    position: absolute;
    background-color: rgb(249, 249, 245);
    height: 11px;
    width: 8px;
    left: 72%;
    top: 17%;
    border-radius: 80% 80% 80% 90%;
    transform: rotate(-45deg);
    z-index: 5
}
.rectangle73{
    position: absolute;
    background-color: rgb(249, 249, 245);
    height: 8px;
    width: 6px;
    left: 51%;
    top: 23%;
    border-radius: 80% 80% 80% 90%;
    z-index: 5
}
.rectangle74{
    position: absolute;
    background-color: rgb(249, 249, 245);
    height: 8px;
    width: 6px;
    left: 51%;
    top: 23%;
    border-radius: 80% 80% 80% 90%;
    z-index: 5
}
.rectangle75{
    position: absolute;
    background-color: rgb(230, 232, 207);
    height: 7px;
    width: 20px;
    left: 82%;
    top: 25%;
    border-radius: 40% 80% 40% 90%;
    transform: skew(20deg);
    transform: rotate(50deg);
    z-index: 6
}
.rectangle76{
    position: absolute;
    background-color: rgb(236, 237, 226);
    height: 7px;
    width: 20px;
    left: 82%;
    top: 25%;
    border-radius: 40% 80% 40% 90%;
    transform: skew(20deg);
    transform: rotate(30deg);
    z-index: 5
}
.rectangle77{
    position: absolute;
    background-color: rgb(222, 227, 203);
    height: 2px;
    width: 5px;
    left: 86%;
    top: 25%;
    border-radius: 40% 80% 40% 90%;
    transform: skew(20deg);
    transform: rotate(80deg);
    z-index: 7
}
.rectangle78{
    position: absolute;
    background-color: rgb(249, 249, 245);
    height: 3px;
    width: 30px;
    left: 77%;
    top: 18%;
    border-radius: 40% 80% 40% 90%;
    transform: skew(60deg);
    transform: rotate(50deg);
    z-index: 7
}
.rectangle79{
    position: absolute;
    background-color: rgb(234, 236, 217);
    height: 10px;
    width: 30px;
    left: 61%;
    top: 9%;
    border-radius: 40% 80% 40% 90%;
    transform: skew(60deg);
    transform: rotate(35deg);
    z-index: 30
}
.rectangle80{
    position: absolute;
    background-color: rgb(249, 249, 245);
    height:4px;
    width: 8px;
    left: 83%;
    top: 45%;
    border-radius: 40% 80% 40% 90%;
    transform: skew(60deg);
    transform: rotate(-35deg);
    z-index: 5
}
.rectangle81{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 7px;
    width: 20px;
    left: 84%;
    top: 51%;
    border-radius: 40% 80% 40% 90%;
    transform: skew(60deg);
    transform: rotate(-80deg);
    z-index: 20
}
.rectangle82{
    position: absolute;
    background-color: rgb(243, 245, 234);
    height: 3px;
    width: 6px;
    left: 91%;
    top: 47%;
    border-radius: 40% 80% 40% 90%;
    transform: skew(60deg);
    transform: rotate(-70deg);
    z-index: 20
}
.rectangle83{
    position: absolute;
    z-index: 5;
    background-color: rgb(236, 236, 220);
    height: 6px;
    width: 15px;
    border-radius: 100% 40% 50% 69%;
    transform: skew(-20deg);
    transform: rotate(220deg);
    left: 7%;
    top: 73%;
}
.rectangle84{
    position: absolute;
    z-index: 20;
    background-color: rgb(249, 249, 245);
    height: 6px;
    width: 2px;
    border-radius: 100% 40% 50% 69%;
    transform: skew(-20deg);
    transform: rotate(0deg);
    left: 3%;
    top: 53%;
}
.rectangle85{
    position: absolute;
    z-index: 5;
    background-color: rgb(243, 245, 234);
    height: 10px;
    width: 15px;
    border-radius: 100% 40% 50% 100%;
    transform: skew(-20deg);
    transform: rotate(20deg);
    left: 3.5%;
    top: 50%;
}
.rectangle86{
    position: absolute;
    z-index: 5;
    background-color: rgb(249, 249, 245);
    height: 7px;
    width: 3px;
    border-radius: 100% 40% 50% 100%;
    transform: skew(-20deg);
    transform: rotate(40deg);
    left: 4.5%;
    top: 41%;
}
.rectangle87{
    position: absolute;
    z-index: 6;
    background-color: rgb(236, 234, 223);
    height: 7px;
    width: 3px;
    border-radius: 100% 40% 50% 100%;
    transform: skew(-20deg);
    transform: rotate(20deg);
    left: 5%;
    top: 42%;
}
.rectangle88{
    position: absolute;
    z-index: 10;
    background-color: rgb(230, 232, 207);
    height: 15px;
    width: 6px;
    border-radius: 100% 40% 50% 100%;
    transform: skew(-20deg);
    transform: rotate(-25deg);
    left: 5.5%;
    top: 60%;
}
.rectangle89{
    position: absolute;
    z-index: 10;
    background-color: rgb(230, 232, 207);
    height: 6px;
    width: 6px;
    border-radius: 100% 100% 70% 100%;
    transform: skew(-20deg);
    transform: rotate(-25deg);
    left: 12%;
    top: 55%;
}
.rectangle90{
    position: absolute;
    z-index: 5;
    background-color: rgb(249, 249, 245);
    width: 7px;
    height: 5px;
    left: 52.5%;
    top: 57%;
    border-radius: 90% 90% 40% 40%;
    transform: rotate(-90deg);
}
.rectangle91{
    position: absolute;
    z-index: 5;
    background-color: rgb(249, 249, 245);
    width: 9px;
    height: 4px;
    left: 55%;
    top: 60%;
    border-radius: 90% 90% 40% 40%;
    transform: rotate(-120deg);
}
.rectangle92{
    position: absolute;
    z-index: 5;
    background-color: rgb(237, 241, 224);
    width: 10px;
    height: 6px;
    left: 59%;
    top: 62%;
    border-radius: 90% 90% 40% 40%;
    transform: rotate(-90deg);
}
.rectangle93{
    position: absolute;
    z-index: 4;
    background-color: rgb(237, 241, 224);
    width: 6px;
    height: 3px;
    left: 61%;
    top: 67%;
    border-radius: 90% 90% 40% 40%;
    transform: rotate(-90deg);
}
.rectangle94{
    position: absolute;
    z-index: 5;
    background-color: rgb(237, 241, 224);
    width: 9px;
    height: 6px;
    left: 50%;
    top: 68%;
    border-radius: 90% 90% 40% 40%;
    transform: rotate(-90deg);
}
.rectangle95{
    position: absolute;
    z-index: 5;
    background-color: rgb(243, 245, 235);
    width: 6px;
    height: 2px;
    left: 51%;
    top: 69%;
    border-radius: 90% 90% 40% 40%;
    transform: rotate(-90deg);
}
.rectangle96{
    position: absolute;
    z-index: 5;
    background-color: rgb(232, 232, 220);
    width: 19px;
    height: 4px;
    border-radius: 70% 70% 70% 70%;
    left: 37%;
    top: 94.8%;
    transform: skew(20deg);
    transform: rotate(10deg);
}
.rectangle97{
    position: absolute;
    z-index: 5;
    background-color: rgb(232, 232, 220);
    width: 10px;
    height: 4px;
    border-radius: 70% 70% 70% 70%;
    left: 23%;
    top: 90%;
    transform: skew(20deg);
    transform: rotate(32deg);
}
.rectangle98{
    position: absolute;
    z-index: 5;
    background-color: rgb(232, 232, 220);
    width: 7px;
    height: 3px;
    border-radius: 70% 70% 70% 70%;
    left: 26%;
    top: 93%;
    transform: skew(20deg);
    transform: rotate(32deg);
}
.rectangle99{
    position: absolute;
    z-index: 20;
    background-color: rgb(249, 249, 245);
    width: 14px;
    height: 6px;
    border-radius: 70% 40% 100% 70%;
    left: 32%;
    top: 62%;
}
.rectangle100{
    position: absolute;
    z-index: 20;
    background-color: rgb(249, 249, 245);
    width: 7px;
    height: 4px;
    border-radius: 70% 40% 100% 70%;
    left: 34%;
    top: 64%;
    transform: rotate(90deg);
}
.rectangle101{
    position: absolute;
    z-index: 20;
    background-color: rgb(249, 249, 245);
    width: 7px;
    height: 4px;
    border-radius: 70% 40% 100% 70%;
    left: 31%;
    top: 64%;
    transform: rotate(90deg);
}
.rectangle102{
    position: absolute;
    z-index: 5;
    background-color: rgb(234, 236, 217);
    width: 7px;
    height: 5px;
    border-radius: 70% 40% 40% 100%;
    left: 12%;
    top: 26%;
}

/* the following are further refinements to the look of the moon */

.detail1{
    position: absolute;   
    background-color: rgb(243, 245, 234);
    width: 5px;
    height: 7px;
    border-radius: 100% 40% 70% 100%;
    left: 30%;
    top: 24%;
    z-index: 20;
}
.detail2{
    position: absolute;   
    background-color: rgb(243, 245, 234);
    width: 3px;
    height: 7px;
    border-radius: 100% 40% 70% 100%;
    left: 31%;
    top: 21%;
    z-index: 5;
}
.detail3{
    position: absolute;   
    background-color: rgb(249, 249, 245);
    width: 13px;
    height: 10px;
    border-radius: 20% 20% 20% 100%; 
    left: 22%;
    top: 14%;
    z-index: 5;
    transform: skew(60deg);
    transform: rotate(40deg);
}
.detail4{
    position: absolute;   
    background-color: rgb(249, 249, 245);
    width: 13px;
    height: 10px;
    border-radius: 20% 20% 20% 100%; 
    left: 25%;
    top: 15%;
    z-index: 5;
    transform: skew(60deg);
    transform: rotate(180deg);
}
.detail5{
    position: absolute;   
    background-color: rgb(249, 249, 245);
    width: 13px;
    height: 10px;
    border-radius: 20% 20% 20% 100%; 
    left: 75%;
    top: 15%;
    z-index: 5;
    transform: skew(60deg);
    transform: rotate(180deg);
}
.detail6{
    position: absolute;   
    background-color: rgb(243, 245, 235);
    width: 11px;
    height: 9px;
    border-radius: 60% 50% 70% 100%; 
    left: 82%;
    top: 60%;
    z-index: 5;
    transform: skew(60deg);
    transform: rotate(180deg);
}
.detail7{
    position: absolute;   
    background-color: rgb(243, 245, 235);
    width: 16px;
    height: 9px;
    border-radius: 60% 50% 70% 100%; 
    left: 76%;
    top: 62%;
    z-index: 5;
    transform: skew(60deg);
    transform: rotate(140deg);
}
.detail8{
    position: absolute;
    background-color: black;
    width: 16px;
    height: 9px;
    border-radius: 60% 50% 70% 100%; 
    left: 76%;
    top: 62%;
    z-index: 5;
    transform: skew(60deg);
    transform: rotate(140deg);
}





.top-frame{
    position: absolute;
    background-color: black;
    top: -154.5%;
    left: -160%;
    width: 1200px;
    height: 200px;
}


